# .env

# Docker
SERVICE_NAME=website

# Database
WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_USER=root
WORDPRESS_DB_PASSWORD="astrongdatabasepassword"
WORDPRESS_DB_NAME=wordpress_db

# Debug
WORDPRESS_DEBUG=false
WORDPRESS_DEBUG_LOG=false
WORDPRESS_DEBUG_DISPLAY=false

# Cron
WORDPRESS_DISABLE_CRON=true

# Website
WEBSITE_PROTOCOL=https
WEBSITE_DOMAIN=example.com
WEBSITE_URL=${WEBSITE_PROTOCOL}://${WEBSITE_DOMAIN}
